@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-section {
  background-color: black;
  background: url("https://res.cloudinary.com/dv0oedkxm/image/upload/v1715426625/sign_in_bg_dkzg8k.png");
  min-height: 100vh;
  background-size: cover;
}

.register-button {
  background: linear-gradient(#2a6bf2, #2d3794);
}
