@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-section {
  background-color: black;
  background: url("https://res.cloudinary.com/dv0oedkxm/image/upload/v1715463215/signin__mobile_jgbctg.png");
  min-height: 100vh;
  background-size: cover;
}

.register-button {
  background: linear-gradient(#2a6bf2, #2d3794);
}

@media screen and (min-width: 1028px) {
  .login-section {
    background: url("https://res.cloudinary.com/dv0oedkxm/image/upload/v1715462087/singin_lzpfka.png");
    background-size: cover;
  }

  .register-section {
    background: url("https://res.cloudinary.com/dv0oedkxm/image/upload/v1715462085/register_oewoy2.png");
    background-size: cover;
  }
}

.karnataka-gradient {
  background: linear-gradient(#fbc400, #ff1c00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
